*.pyc
*patch
*role.yml
*swo
*swp
.openstackrc
.python
ansible.log
credentials
files/pkg-pubkey.cert
hosts
out
out?*
patch
patch*
public_keys/*
roles/test
staging
stamp-h1
test.yml
userpassword_command
.ansible
aux/ansible
