*.dump
*.pyc
*patch
*role.yml
*swo
*swp
.openstackrc
.python
ansible.log
credentials
files/pkg-pubkey.cert
hosts
out
out?*
patch
patch*
public_keys/*
roles/test
staging
stamp-h1
test.yml
userpassword_command
.ansible
aux/ansible
roles/dhcp_server
roles/f500.dumpall
roles/jnv.unattended-upgrades
roles/pdellaert.dhcp_server
examine
.vagrant
roles/geerlingguy.java
roles/geerlingguy.jenkins
Vagrantfile
myconf
*.retry
roles/gpsd
.ansible_cache/
roles/unifi_controller/
roles/homebridge/
roles/mosquitto
roles/windows_server
roles/z-wave
test.yaml
.imported_roles
