*.dump
*.pyc
*patch
*role.yml
*swo
*swp
.openstackrc
.python
ansible.log
credentials
files/pkg-pubkey.cert
hosts
out
out?*
patch
patch*
public_keys/*
roles/test
staging
stamp-h1
test.yml
userpassword_command
.ansible
aux/ansible
roles/jnv.unattended-upgrades
roles/f500.dumpall
roles/pdellaert.dhcp_server
roles/yum-cron
roles/f500.dumpall
