[defaults]
remote_user=deploy
<<<<<<< HEAD
# hostfile = ~/.inventory/
inventory = ~/.inventory
=======
inventory = ~/.inventory/
>>>>>>> origin/master
display_skipped_hosts=False
roles_path=.imported_roles:roles
log_path=/tmp/ansible.log
# ansible_managed = Ansible managed: {file} modified by {uid} on {host}
# pipelining=True
# transport=paramiko
gathering=smart
fact_caching = memory
# fact_caching = jsonfile
fact_caching_connection = .ansible_cache/
fact_caching_timeout = 86400
retry_files_enabled = False
retry_files_save_path = ~/.ansible-retry
<<<<<<< HEAD
command_warnings = False
host_key_checking = False
record_host_keys = True
=======

# We don't always want to be required to specify a name to get useful info
display_args_to_stdout = True
>>>>>>> origin/master
