[defaults]
remote_user=deploy
hostfile = ~/.ansible_inventory/
display_skipped_hosts=False
roles_path=roles/
log_path=/tmp/ansible.log
ansible_managed = Ansible managed: {file} modified by {uid} on {host}
;sudo_flags=--login
;pipelining=True
transport=paramiko
