[defaults]
hostfile=hosts
display_skipped_hosts=False
roles_path=roles/
log_path=/tmp/ansible.log
ansible_managed = Ansible managed: {file} modified by {uid} on {host}
pipelining=True
transport=paramiko
