#!/bin/bash
# vim:ft=sh

if [ -z "$BREWRC_INCLUDED" ]; then
  BREWRC_INCLUDED=yes
  export BREWRC_INCLUDED

  HOMEBREW_EDITOR=vim
  export HOMEBREW_EDITOR

  check_brew ()
  {
    if [ -x /usr/local/bin/brew ]; then

      append_local

      local BREW_DIRECTORIES=(/usr/local/opt/bison/bin /usr/local/opt/flex/bin /usr/local/opt/gperf/bin /usr/local/opt/gettext/bin)
      for x in "${BREW_DIRECTORIES[@]}"; do
        prepend_path "$x"
      done
    fi
  }

  check_brew
fi
