#!/bin/bash
# vim:ft=sh

if [ -z "$JAVARC_INCLUDED" ]; then
  JAVARC_INCLUDED=yes
  export JAVARC_INCLUDED

    prepend_javahome ()
    {
      JAVA_HOME_BIN="$1"/bin
      if [ -d "$JAVA_HOME_BIN" ]; then
        case ":$PATH:" in
          *":$JAVA_HOME_BIN:"*) :;; # already there
          *) PATH="$JAVA_HOME_BIN":"$PATH";;
        esac

        export JAVA_HOME
      fi
    }

    JAVA_HOME="/Library/Internet Plug-Ins/JavaAppletPlugin.plugin/Contents/Home"
    prepend_javahome "$JAVA_HOME"
fi

