#!/bin/bash
# vim:ft=sh

if [ -z "$PKGNGRC_INCLUDED" ]; then
  PKGNGRC_INCLUDED=yes
  export PKGNGRC_INCLUDED

  check_freebsd_local ()
  {
    if [ -f /etc/freebsd-update.conf ]; then
      if [ -f /usr/local/etc/pkg/repos/FreeBSD.conf ]; then

        local LOCAL_BINARY_DIRECTORIES=(/usr/local/bin /usr/local/sbin)
        for x in "${LOCAL_BINARY_DIRECTORIES[@]}"; do
          prepend_path "$x"
        done

        # For expanding MANPATH 
        prepend_manpath /usr/local/share/man
      fi
    fi
  }

  check_freebsd_local
fi
