# {{ ansible_managed }}
# Source global definitions
if [ -d $HOME/.python/bin ]; then
  for x in "$HOME/.python/bin"; do
    case ":$PATH:" in
      *":$x:"*) :;; # already there
      *) PATH="$x:$PATH";;
    esac
  done
fi
