#!/bin/bash

RUBY_HOME=$HOME/.ruby
GEM_HOME=$RUBY_HOME/gems

if [ -d "$RUBY_HOME" ]; then
  for x in "$RUBY_HOME"; do
    case ":$PATH:" in
      *":$x:"*) :;; # already there
      *) PATH="$x:$PATH";;
    esac
  done

  if [ -d "$GEM_HOME" ]; then
    if [ -d "$GEM_HOME/bin" ]; then
      for x in ""$GEM_HOME/bin""; do
        case ":$PATH:" in
          *":$x:"*) :;; # already there
          *) PATH="$x:$PATH";;
        esac
      done
    fi
  else
    mkdir -p $GEM_HOME/bin
  fi

  export RUBY_HOME
  export GEM_HOME
fi
