#!/bin/bash
# {{ ansible_managed }}

command_exists ()
{
  type "$1" &> /dev/null ;
}

if command_exists 'ruby' && command_exists 'gem'; then
  PATH="$(ruby -rubygems -e 'puts Gem.user_dir')/bin:$PATH"
fi
