# {{ ansible_managed }}
# Source /usr/sbin for platforms that require it during sudo
if [ -d /usr/sbin ]; then
  for x in "/usr/sbin"; do
    case ":$PATH:" in
      *":$x:"*) :;; # already there
      *) PATH="$x:$PATH";;
    esac
  done
fi
