<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <title>{{ redirect_url }}</title>
  <meta http-equiv="REFRESH" content="0;url={{ redirect_url }}"></HEAD>
<BODY>
  Redirecting to {{ redirect_url }}
</BODY>
</HTML>
